<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">


<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% include 'title.html' %}</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <style>
        .wrapper {

            margin: 0 auto;
        }
    </style>
</head>

<body>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" 
    integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
 
    <div class="wrapper">
        <div class="container-fluid">
            {% include 'nav.html' %}

            {%- for message in get_flashed_messages() %}
            {{ message }}
            {%- endfor %}
            <h3 class="pull-left">Asteroid Details</h3>
            <form method="POST" action="./search" style="display: inline">
                <input type="text" id="search" name="search" size="12"></td>

                <input type="submit" value="Search by name">
            </form>
            <form method="POST" action="./scan" style="display: inline">
                Range: <input type="text" id="range" name="range" value=100 size="12">
                Location au: <input type="text" id="location" name="location" value=0.003 size="12"></td>

                <input type="submit" value="Scan by location">
            </form>
            <table class="table table-bordered table-hover table-striped">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Name</th>
                        <th>Owner</th>
                        <th>Size kg</th>
                        <th>Mined Size kg</th>
                        <th>Hazard</th>
                        <th>Diameter km</th>
                        <th>Rotation h</th>
                        <th>Spectral Group</th>
                        <th>AU</th>
                        <th>Action</th>
                    </tr>
                </thead>

                <tbody>
                    {% for asteroid in asteroids %}
                    <tr>
                        <form method="POST" action="./mine" style="display: inline">
                            <td>{{ asteroid.id }}<input type="hidden" id="id" name="id" value="{{ asteroid.id }}" ></td>
                            <td>{{ asteroid.name }}<input type="hidden" id="name" name="name" value="{{ asteroid.name }}" size="16" ></td>
                            <td>{{ asteroid.owner }}<input type="hidden" id="owner" name="owner" value="{{ asteroid.owner }}" size="12" ></td>
                            <td>{{ asteroid.sizekg }}<input type="hidden" id="sizekg" name="sizekg" value="{{ asteroid.sizekg }}" size="16" >
                            </td>
                            <td>{{ asteroid.minedsizekg }}<input type="hidden" id="minedsizekg" name="minedsizekg" value="{{ asteroid.minedsizekg }}" size="16" >
                            </td>
                            <td {%if asteroid.hazard=="Y" %}
                            style="border: 2px solid red;" 
                            {% else %}
                               style="border: 2px solid green;" 
                           {% endif %}>{{ asteroid.hazard }}<input type="hidden" id="hazard" name="hazard" value="{{ asteroid.hazard }}" size="2" >
                                
                            </td>
                            <td>{{ asteroid.diameterkm }}<input type="hidden" id="diameterkm" name="diameterkm" value="{{ asteroid.diameterkm }}"
                                    size="6" ></td>
                            <td>{{ asteroid.rotationh }}<input type="hidden" id="rotationh" name="rotationh" value="{{ asteroid.rotationh }}"
                                    size="8" ></td>
                            <td>{{ asteroid.spectralgroup }}<input type="hidden" id="spectralgroup" name="spectralgroup"
                                    value="{{ asteroid.spectralgroup }}" size="2" ></td>
                            <td>{{ asteroid.au }}<input type="hidden" id="au" name="au" value="{{ asteroid.au }}" size="4" ></td>
                            <td>
                                <input type="submit" value="Mine">
                        </form>

                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

        </div>
    </div>
</body>

</html>